html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $body-color;
  font-size: 16px;
  line-height: 1; 
  color: $base-text-color;
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
    } 
}

q {
  &:before, &:after {
    content: '';
    content: none; 
    } 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

a {
  text-decoration: none;
  color: $base-text-color;
}

h2 {
  color: $base-text-color;
  margin: 9px 0 27px;
  font-weight: 500;
  font-size: 22px;
}

.wrapper {
  padding: 20px;
}

%clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.row {
  @extend %clearfix;
  margin: 0 -20px;
}

[class*='grid-'] {
  float: left;
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
}

@for $i from 1 through 12 {
  .grid-#{$i} {
    width: 100% / 12 * $i;
  }
}

.grid-4:nth-child(3) {
  padding-right: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}