@import './../../assets/scss/_app.scss';

.header {
  border-bottom: solid 1px $base-border; 
  background: $white;
  height: 72px;
}

nav {
  a {
    transition: all 300ms;
    padding: 27px 8px 27px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 22px;
    position: relative;

    &:hover{
      transition: all 300ms;
      color: $light-active-color;
    }

    &.active {
      transition: all 300ms;
      color: $light-active-color;

      &::after {
        background: $light-active-color;
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -1px;
      }
    }
  }
}