@import './../../assets/scss/_app.scss';

.panel {
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.1);
  background: $white;
  border-radius: 6px;

  .panel-head {
    border-bottom: solid 1px $base-border;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .panel-title {
    flex: 2 auto;
  }

  .panel-body {
    padding: 15px;
  }

  .panel-foot {
    padding: 5px 15px;
    display: flex;
    justify-content: flex-start;
    border-top: solid 1px $base-border;
    align-items: center;

    .label {
      margin-left: 25px;
    }
  }
}
