@import './../../assets/scss/_app.scss';


.dotted-icon {
  cursor: pointer;

  span {
    margin-bottom: 3px;
    display: block;
    height: 4px;
    width: 4px;
    background: $light-grey;
    position: relative;
    border-radius: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}